<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="contract/info/add">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Date')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-date" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[signdate]" type="text" value="{$row.date}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Project_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-project_info_id" data-rule="required" data-source="project/info/index" showField='short' class="form-control selectpage input-left-padding45" name="row[project_info_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bids_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-project_section_ids" data-rule="required" data-source="project/section/index" data-multiple="true" class="form-control selectpage input-left-padding45" name="row[project_section_ids]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <div class="form-inline" data-toggle="cxselect" data-selects="first,second">
            <label class="control-label col-xs-12 col-sm-2">{:__('Category_id')}:</label>
            <div class="col-sm-8">
                <select class="first form-control input-left-padding20" name="row[category_id]" data-url="ajax/category?type=classify&pid=0"></select>
                <select class="second form-control input-left-padding20" name="row[label_ids]" data-url="ajax/category" data-query-name="pid"></select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Number')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-number" class="form-control" name="row[number]" type="number" value="{$row.number}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Company_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-project_company_id" data-rule="required" data-source="company/info/index" class="form-control selectpage input-left-padding45" name="row[project_company_id]" type="text" value="22">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Contract_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-contract_name" class="form-control" name="row[name]" type="text" value="{$row.contract_name}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-price" class="form-control" step="0.01" name="row[price]" type="number" value="{$row.price}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Total')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-total" class="form-control" name="row[total]" type="number" value="{$row.total}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Save')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-save" class="form-control" name="row[save]" type="number" value="{$row.save}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Contents')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-contents" class="form-control" name="row[operatorname]" type="text" value="{$row.contents}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Phone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-phone" class="form-control" name="row[operatorphone]" type="text" value="{$row.phone}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
