<style type="text/css">
    .avatar{
        flex: 0 1 72px;
        margin: 0 24px 8px 0;
        margin-bottom: 16px;
    }
    .avatar>span {
        border-radius: 72px;
        display: block;
        width: 72px;
        height: 72px;
    }
    .ant-avatar {
        font-family: Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
        font-size: 14px;
        font-variant: tabular-nums;
        line-height: 1.5;
        color: rgba(0,0,0,.65);
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block;
        text-align: center;
        background: #ccc;
        color: #fff;
        white-space: nowrap;
        position: relative;
        overflow: hidden;
        vertical-align: middle;
        width: 32px;
        height: 32px;
        line-height: 32px;
        border-radius: 50%;
    }
    .ant-avatar-string {
        position: absolute;
        left: 50%;
        transform-origin: 0 center;
    }
    .headerContent {
        -ms-flex: auto;
        flex: auto;
        color: rgba(0,0,0,.45);
        line-height: 22px;
    }
    /*.title {
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
        color: rgba(0,0,0,.85);
        margin-bottom: 16px;
        -ms-flex: auto;
        flex: auto;
    }*/
    .extra {
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        margin-left: 88px;
        min-width: 342px;
        text-align: right;
    }
    .ant-row {
        position: relative;
        margin-left: 0;
        margin-right: 0;
        height: auto;
        zoom: 1;
        display: block;
        box-sizing: border-box;
    }
    .ant-col-8 {
        display: block;
        box-sizing: border-box;
        /*width: 33.33333333%;*/
        float: left;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        text-align: right;
    }
    .head-info {
        position: relative;
        text-align: left;
        padding: 0 32px 0 0;
        min-width: 125px;
    }
    .head-info p {
        color: rgba(0,0,0,.85);
        font-size: 24px;
        line-height: 32px;
        margin: 0;
    }
    .rank{
        /*padding: 0 32px 32px 72px;*/
    }
    .title{
        margin-top: 0;
        margin-bottom: .5em;
        color: rgba(0,0,0,.85);
        font-weight: 500;
    }
    .rank .list{
        /*margin: 0px 0 0;*/
        padding: 0;
        list-style: none;
        height: auto;
        
    }
    .rank .list li {
        margin-top: 16px;
    }
    .rank .list li span.active {
        background-color: #314659 !important;
        color: #fff;
    }
    .rank .list li span:first-child {
        background-color: #f5f5f5;
        border-radius: 20px;
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
        margin-right: 10px;
        height: 20px;
        line-height: 20px;
        width: 20px;
        text-align: center;
    }
    .rank .list li span {
        color: rgba(0,0,0,.65);
        font-size: 14px;
        line-height: 22px;
        width: 50%;
        display:inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .rank .list li span:last-child {
        float: right;
        text-align: right;
        width: 30%;
    }
</style>
<div style="display: flex;background: #fff;padding: 16px 32px 0;">
    <div class="avatar">
        <span class="ant-avatar ant-avatar-circle">
            <span class="ant-avatar-string" style="transform: scale(1) translateX(-50%);"></span>
        </span>
    </div>                        
    <div class="headerContent">
        <div>
            <div class="title">
                汉寿恒大御府
            </div>
            <div>标段名称：A区 | 彭军维：1388888888</div>
        </div>
    </div>
    <div class="extra">
        <div class="more-info ant-row">
            <div class="ant-col-8">
                <div class="head-info">
                    <span>已拨付金额占比</span>
                    <p>50%</p>
                </div>
            </div>
            <div class="ant-col-8">
                <div class="head-info">
                    <span>标段总造价</span>
                    <p>56,000,000.00</p>
                </div>
            </div>
            <!--<div class="ant-col-8">
                <div class="head-info">
                    <span>当前资金余额</span>
                    <p>56,000,00.00</p>
                </div>
            </div>-->                   
        </div>
    </div>
</div>

<div style="display: flex;background: #fff;padding: 16px 12px 0;margin-top: 10px">
    <div id="echart" style="height:250px;width:100%;"></div>
    <script>
        var Orderdata = {
            column: ["2019-08-22","2019-08-23","2019-08-24","2019-08-25","2019-08-26","2019-08-27","2019-08-28"],
            paydata: [7,84,2,1,6,6,157],
            createdata: [148,159,54,41,135,171,192],
        };
    </script>
</div>

<div style="display: flex;margin-top: 10px">
    <div style="flex-grow:3;background: #fff;padding: 16px;width:70%">
        <div id="echart-pie" style="height:100%;width:100%;"></div>
    </div>
    <div style="flex-grow:1;margin-left: 10px;background: #fff;padding: 16px;width:30%">
        <div class="rank">
            <h4 class="title">拨付排行榜</h4>
            <ul class="list">
                <li>
                    <span class="active">1</span>
                    <span>常德市卓宝防水保温工程有限公司</span>
                    <span>1,234,000.56</span>
                </li>
                <li>
                    <span class="active">2</span>
                    <span>常德市钲杰建筑工程有限公司</span>
                    <span>1134.56</span>
                </li>
                <li>
                    <span class="active">3</span>
                    <span>常德宏友建筑设备租赁有限公司</span>
                    <span>1034.56</span>
                </li>
                <li>
                    <span>4</span>
                    <span>常德柳叶湖华元工程服务中心</span>
                    <span>934.56</span>
                </li>
                <li>
                    <span>5</span>
                    <span>湖南天晨新型建材有限公司</span>
                    <span>834.56</span>
                </li>
                <li>
                    <span>6</span>
                    <span>湖南明扬网络工程有限公司</span>
                    <span>734.56</span>
                </li>
                <li>
                    <span>7</span>
                    <span>常德市福丰建材有限公司</span>
                    <span>634.56</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div style="display: flex;flex-flow:column;margin-top: 10px;background: #fff;padding:20px 20px">
    <h4 class="title" style="margin-bottom: 20px">预算详情表</h4>
    <div style="width:100%;"> 
        <table id="budget_table" class="table table-striped table-bordered table-hover table-nowrap" width="100%">
        </table>
    </div>
</div>

<div style="display: flex;flex-flow:column;margin-top: 10px;background: #fff;padding:20px 20px">
    <h4 class="title" style="margin-bottom: 20px">欠款明细表</h4>
    <div style="width:100%;"> 
        <table id="owe_table" class="table table-striped table-bordered table-hover table-nowrap" width="100%">
        </table>
    </div>
</div>