<style type="text/css">
    .avatar{
        flex: 0 1 72px;
        margin: 0 24px 8px 0;
        margin-bottom: 16px;
    }
    .avatar>span {
        border-radius: 72px;
        display: block;
        width: 72px;
        height: 72px;
    }
    .ant-avatar {
        font-family: Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
        font-size: 14px;
        font-variant: tabular-nums;
        line-height: 1.5;
        color: rgba(0,0,0,.65);
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block;
        text-align: center;
        background: #ccc;
        color: #fff;
        white-space: nowrap;
        position: relative;
        overflow: hidden;
        vertical-align: middle;
        width: 32px;
        height: 32px;
        line-height: 32px;
        border-radius: 50%;
    }
    .ant-avatar-string {
        position: absolute;
        left: 50%;
        transform-origin: 0 center;
    }
    .headerContent {
        -ms-flex: auto;
        flex: auto;
        color: rgba(0,0,0,.45);
        line-height: 22px;
    }
    .title {
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
        color: rgba(0,0,0,.85);
        margin-bottom: 16px;
        -ms-flex: auto;
        flex: auto;
    }
    .extra {
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        margin-left: 88px;
        min-width: 342px;
        text-align: right;
    }
    .ant-row {
        position: relative;
        margin-left: 0;
        margin-right: 0;
        height: auto;
        zoom: 1;
        display: block;
        box-sizing: border-box;
    }
    .ant-col-8 {
        display: block;
        box-sizing: border-box;
        /*width: 33.33333333%;*/
        float: left;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        text-align: right;
    }
    .head-info {
        position: relative;
        text-align: left;
        padding: 0 32px 0 0;
        min-width: 125px;
    }
    .head-info p {
        color: rgba(0,0,0,.85);
        font-size: 24px;
        line-height: 32px;
        margin: 0;
    }
    .rank{
        /*padding: 0 32px 32px 72px;*/
    }
    .title{
        margin-top: 0;
        margin-bottom: .5em;
        color: rgba(0,0,0,.85);
        font-weight: 500;
    }
    .list{
        margin: 25px 0 0;
        padding: 0;
        list-style: none;
        height: auto;
        overflow: auto;
    }
    .active{
        background-color: #314659;
        color: #fff;
    }
    .rank .list li span:first-child {
        background-color: #f5f5f5;
        border-radius: 20px;
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
        margin-right: 24px;
        height: 20px;
        line-height: 20px;
        width: 20px;
        text-align: center;
    }
    .rank .list li {
        margin-top: 16px;
    }

</style>
<div style="display: flex;background: #fff;padding: 16px 32px 0;">
    <div data-v-596c5759="" class="avatar">
        <span data-v-596c5759="" class="ant-avatar ant-avatar-circle">
            <span class="ant-avatar-string" style="transform: scale(1) translateX(-50%);"></span>
        </span>
    </div>                        
    <div data-v-596c5759="" class="headerContent">
        <div data-v-92d03644="" data-v-596c5759="">
            <div data-v-92d03644="" data-v-596c5759="" class="title">
                汉寿恒大御府
            </div>
            <div data-v-92d03644="" data-v-596c5759="">标段名称：A区 | 彭军维：1388888888</div>
        </div>
    </div>
    <div data-v-596c5759="" class="extra">
        <div data-v-92d03644="" class="more-info ant-row" data-v-596c5759="">
            <div data-v-92d03644="" class="ant-col-8">
                <div data-v-4d866d96="" data-v-92d03644="" class="head-info">
                    <span data-v-4d866d96="">拨付金额占比</span>
                    <p data-v-4d866d96="">50%</p>
                    <!---->
                </div>
            </div>
            <div data-v-92d03644="" class="ant-col-8">
                <div data-v-4d866d96="" data-v-92d03644="" class="head-info">
                    <span data-v-4d866d96="">标段总造价</span>
                    <p data-v-4d866d96="">56,000,000.00</p>
                    <!---->
                </div>
            </div>                            
        </div>
    </div>
</div>

<div style="display: flex;background: #fff;padding: 16px 12px 0;margin-top: 10px">
    <div id="echart" style="height:200px;width:100%;"></div>
    <script>
        var Orderdata = {
            column: ["2019-08-22","2019-08-23","2019-08-24","2019-08-25","2019-08-26","2019-08-27","2019-08-28"],
            paydata: [7,84,2,1,6,6,157],
            createdata: [148,159,54,41,135,171,192],
        };
    </script>
</div>

<div style="display: flex;margin-top: 10px">
    <div style="flex-grow:3;background: #fff;padding: 16px;width:70%">
        ff<br />
        ff<br />
        ff<br />
        ff<br />
    </div>
    <div style="flex-grow:1;margin-left: 10px;background: #fff;padding: 16px;width:30%">
        <div class="rank">
            <h4 class="title">付款排行榜</h4>
            <ul class="list">
                <li>
                    <span class="active">1</span>
                    <span>白鹭岛 1 号店</span>
                    <span>1234.56</span>
                </li>
                <li>
                    <span class="active">2</span>
                    <span>白鹭岛 2 号店</span>
                    <span>1134.56</span>
                </li>
                <li>
                    <span class="active">3</span>
                    <span>白鹭岛 3 号店</span>
                    <span>1034.56</span>
                </li>
                <li>
                    <span>4</span>
                    <span>白鹭岛 4 号店</span>
                    <span>934.56</span>
                </li>
                <li>
                    <span>5</span>
                    <span>白鹭岛 5 号店</span>
                    <span>834.56</span>
                </li>
                <li>
                    <span>6</span>
                    <span>白鹭岛 6 号店</span>
                    <span>734.56</span>
                </li>
                <li>
                    <span>7</span>
                    <span>白鹭岛 7 号店</span>
                    <span>634.56</span>
                </li>
            </ul>
        </div>
    </div>
</div>