<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Contract_info_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-contract_info_id" data-rule="required" data-source="contract/info/index" class="form-control selectpage" name="row[contract_info_id]" type="text" value="{$row.contract_info_id}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Agreedata')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="agreedataList" item="vo"}
            <label for="row[agreedata]-{$key}"><input id="row[agreedata]-{$key}" name="row[agreedata]" type="radio" value="{$key}" {in name="key" value="$row.agreedata"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Opinioncontent')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-opinioncontent" class="form-control editor" rows="5" name="row[opinioncontent]" cols="50">{$row.opinioncontent}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sealdata')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="sealdataList" item="vo"}
            <label for="row[sealdata]-{$key}"><input id="row[sealdata]-{$key}" name="row[sealdata]" type="radio" value="{$key}" {in name="key" value="$row.sealdata"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Savedata')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="savedataList" item="vo"}
            <label for="row[savedata]-{$key}"><input id="row[savedata]-{$key}" name="row[savedata]" type="radio" value="{$key}" {in name="key" value="$row.savedata"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Number')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-number" class="form-control" name="row[number]" type="number" value="{$row.number}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Contacts')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-contacts" class="form-control" name="row[contacts]" type="text" value="{$row.contacts}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Phone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-phone" class="form-control" name="row[phone]" type="text" value="{$row.phone}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Remarkcontent')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-remarkcontent" class="form-control editor" rows="5" name="row[remarkcontent]" cols="50">{$row.remarkcontent}</textarea>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
