<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    
    <!--<div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Contract_info_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-contract_info_id" data-rule="required" data-source="contract/info/index" class="form-control selectpage" name="row[contract_info_id]" type="text" value="">
        </div>
    </div>-->
    <div class="form-group">
        <div class="col-xs-12 col-sm-12">
            <div id="echarts" style="height:250px;width:100%;">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-2 text-right">项目名称:</label>
        <div class="col-xs-12 col-sm-4">汉寿恒大御府</div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-2 text-right">标段名称:</label>
        <div class="col-xs-12 col-sm-4">A区</div>
        <label class="col-xs-12 col-sm-2 text-right">项目经理:</label>
        <div class="col-xs-12 col-sm-4">李恒孝</div>
    </div>

    <div class="form-group">
        <label class="col-xs-12 col-sm-2 text-right">供应商名称:</label>
        <div class="col-xs-12 col-sm-4">湖南鑫盛达钢材贸易有限公司</div>
        <label class="col-xs-12 col-sm-2 text-right">联系电话:</label>
        <div class="col-xs-12 col-sm-4">1388888888</div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-2 text-right">合同名称:</label>
        <div class="col-xs-12 col-sm-4">钢材采购合同</div>
        <label class="col-xs-12 col-sm-2 text-right">合同总价:</label>
        <div class="col-xs-12 col-sm-4">20000000.00</div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-2 text-right">合同类型:</label>
        <div class="col-xs-12 col-sm-4">钢材采购</div>
        <label class="col-xs-12 col-sm-2 text-right">同类型欠款额:</label>
        <div class="col-xs-12 col-sm-4">2000000.00</div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-2 text-right">预算金额:</label>
        <div class="col-xs-12 col-sm-4">226000.00</div>
        <label class="col-xs-12 col-sm-2 text-right">合计签订金额:</label>
        <div class="col-xs-12 col-sm-4">63180000.00</div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-2 text-right">付款方式:</label>
        <div class="col-xs-12 col-sm-10">撒打发斯蒂芬阿斯顿发送到发生付撒打发斯蒂芬阿斯顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬顿发斯蒂芬</div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-2 text-right">结算方式:</label>
        <div class="col-xs-12 col-sm-10">撒打发斯蒂芬阿斯顿发送到发生付撒打发斯蒂芬阿斯顿发斯蒂芬</div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-2 text-right">{:__('Agreedata')}:</label>
        <div class="col-xs-12 col-sm-10">
            
            <div class="radio">
            {foreach name="agreedataList" item="vo"}
            <label for="row[agreedata]-{$key}"><input id="row[agreedata]-{$key}" name="row[agreedata]" type="radio" value="{$key}" {in name="key" value="wait"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-2 text-right">{:__('Opinion')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-opinion" class="form-control" rows="5" name="row[opinion]" type="text"></textarea>
        </div>
    </div>
    <div class="hide layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed btn-success" onclick="Layer.closeAll();">{:__('保存')}</button>
        </div>
    </div>
</form>
